/* setting colours and fonts */
:root {
    --white: #F2EEE6;
    --beige: #DDD6C8;
    --lightgreen: #4C583E;
    --darkgreen: #2C3424;

    --font-mono: 'IBM Plex Mono', monospace;
    --font-sans: 'Nunito Sans', sans-serif;

    --space-xs: 8px;
    --space-s: 16px;
    --space-m: 24px;
    --space-l: 48px;
    --space-xl: 64px
}
/* initializing typography */
h1 {
    font-family: var(--font-mono);
    font-weight: 700;
    font-size: 22px;
}
h2 {
    font-family: var(--font-mono);
    font-weight: 700;
    font-size: 17px;
}
.price {
    font-family: var(--font-mono);
    font-weight: 400;
    font-size: 12px;
}

/* reset spacings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* base */
body {
    background: var(--beige);
    color: var(--darkgreen);
    font-family: var(--font-sans);
}

.page {
    max-width: 390px;
    margin: 0 auto;
    background: var(--beige);
    min-height: 100vh;
    overflow: hidden;
}

/* top nav */
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    
    width: 390px;
    height: 45px;
    background: var(--beige);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 21px 9px 24px;
}

.logo img{
    width: 43.03px;
    height: 26px;
    object-fit: contain;
}

/* nav icons */
.nav-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-icons button {
    width: 24px;
    height: 24px;

    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-icons img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

/* hero */
.hero {
    position:relative;
    margin-bottom: 90px;
}

.hero-container {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
}

.hero-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* CTA button */
.hero-btn {
    position:absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);

    width: 290px;
    height: 50px;
    border: none;
    border-radius: 100px;

    background: var(--lightgreen);
    color: var(--beige);

    color: var(--white);
    font-family: var(--font-mono);
    font-weight: 500; 
    font-size: 18px;

    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25)
}

/* tagline */
.tagline-section {
    text-align: center;
    padding: 0 24px 50px;
}
.tagline-section h2 {
    font-family: var(--font-mono);
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1px;
}

/* info section */
.info-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    align-items: center;
    margin-bottom: 56px;

}

/* category section */
.categories {
    grid-template-areas: "image text";
    padding-right: 24px;
}

.categorymobile-img {
    grid-area: image;
    width: 234px;
    height: 137px;
    object-fit: cover;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 3px;
}

.categorymobile-gradient {
    grid-area: image;
    position: relative;
    width: 234px;
    height: 137px;
    overflow: hidden;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 3px;
}
.categorymobile-gradient::after {
    content: "";
    position:absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: 60%;

    background: linear-gradient(
        to top,
        var(--beige) 0%,
        rgba(221, 214, 200, 0) 100%
    )
}

/* faq section */
.faq {
    grid-template-areas: "text image";
    padding-left: 24px;
}

.faqmobile-img {
    grid-area: image;
     width: 234px;
    height: 137px;
    object-fit: cover;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 3px;
}

.faqmobile-gradient {
    grid-area: image;
    position: relative;
    width: 234px;
    height: 137px;
    overflow: hidden;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 3px;
}
.faqmobile-gradient::after {
    content: "";
    position:absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: 60%;

    background: linear-gradient(
        to top,
        var(--beige) 0%,
        rgba(221, 214, 200, 0) 100%
    )
}

.info-text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items:flex-start;

    font-family: var(--font-sans);
    font-weight: 400;
    font-size: 7px;
    line-height: 1.35;
}

.line {
    width: 100%;
    height: 1px;
    background: var(--darkgreen);
    margin-bottom: 14px;
}

/* button outlines */
.outline-btn{
    position: relative;
    margin-top: 18px;
    width: 122px;
    height: 28px;
    padding: 0 8px;
    border: 1px solid var(--darkgreen);
    border-radius: 100px;
    background: transparent;
    color: var(--darkgreen);

    display:flex;
    justify-content:center;
    align-items: center;

    font-family: var(--font-mono);
    font-weight: 600;
    font-size: 9px;

    cursor: pointer;
}
.outline-btn span{
    position: absolute;
    right: 4px;
    width: 16px;
    height: 16px;

    border-radius: 50%;
    background: var(--darkgreen);
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
}

.outline-btn span img {
    width: 12px;
    height: 12px;
    object-fit: contain;
}

/* RESULTS PAGE */
.results-page {
    background: var(--beige);
}

/* results heading */
.results-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
}
.results-text {
    display: flex;
    flex-direction: column;
}
.items-count {
    font-family: var(--font-mono);
    font-size: 12px;
}
.show-all {
    font-family: var(--font-mono);
    font-size: 12px;
    text-decoration: underline;
    color: var(--darkgreen);
}

/* filter bar */
.filter-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #2C3424;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}
.filter-bar button {
    background: transparent;
    border: none;
    color:#F2EEE6;
    font-family: var(--font-mono);
    font-size: 9px;

    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-bar button:first-child {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

/* grid */
.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 31px 20px;
}

/* card */
.product-img-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}
.product-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* quick add */
.quick-add {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 28px;
    height: 28px;
    border: none;
    background: transparent;
    padding: 0;
}
.quick-add img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 1px 4px #36402A);
}

/* text */
.product-card h2 {
    margin-top: 8px;
}
.price {
    margin-top: 2px;
}


/* PRODUCT DETAIL PAGE */
.product-page {background: var(--beige)}

/* back link */
.back-link {
    display: inline-block;
    margin: 18px 0 10px 5px;
    font-family: var(--font-mono);
    font-size: 12px;
    color: var(--darkgreen);
    text-decoration: underline;
}

/* product title */
.product-title-card {
    background: var(--darkgreen);
    color: var(--white);
    border-radius: 12px;
    padding: 10px 12px;
    margin-bottom: 10px;
}
.product-title-card h1 {
    color: var(--white);
    font-size: 22px;
}
.product-title-card p {
    margin-top: 8px;
    font-family: var(--font-mono);
    font-size: 16px;
    color: var(--white);
}

/* product images */
.product-main-img {
    width: 100%;
    height: 370px;
    object-fit:cover;

    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

/* thumbnails */
.thumbnail-row {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 8px 0 14px;
}
.thumbnail-row img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 12px;
}
.rec-section .product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 31px 20px;
}

/* dropdowns */
.product-dropdown {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.dropdown-btn {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 12px;

    background: var(--darkgreen);
    color: var(--white);
    font-family: var(--font-mono);
    font-size: 15;
    font-weight: 400;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;

    cursor: pointer;
}
.dropdown-btn img {
    width: 9px;
    height: 5px;
    object-fit: contain;
}

/* add to cart button */
.addtocart-btn {
    width: 100%;
    height: 43px;
    margin: 20px 0 30px;

    border: none;
    border-radius: 100px;
    background: var(--lightgreen);
    font-family: var(--font-mono);
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    color: #F2EEE6;
    cursor: pointer;
}

/* recommendation section */
.rec-section {
    padding: 0 5px;
}
.rec-section h2 {
    margin-bottom: 14px;
}
