/* top nav */
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 390px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 43.03px;
    height: 26px;
    object-fit: contain;
}
/* nav icons */
.nav-icons {
    display: flex;
    align-items: center;
}
.nav-icons button {
    width: 24px;
    height: 24px;

    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav-icons img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}



/* HOME PAGE */
/* hero */
.hero {
    /* use as reference for button */
    position:relative; 
}
.hero-container {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
}
.hero-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
/* CTA button */
.hero-btn {
    position:absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);

    width: 290px;
    height: 50px;
    border: none;
    border-radius: 100px;

    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25)
}
/* tagline */
.tagline-section {
    text-align: center;
}
/* info section */
.info-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
/* category section */
.categories {
    grid-template-areas: "image text";
}
.categorymobile-img {
    grid-area: image;
    width: 234px;
    height: 137px;
    object-fit: cover;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 3px;
}
.categorymobile-gradient {
    grid-area: image;
    position: relative;
    width: 234px;
    height: 137px;
    overflow: hidden;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 3px;
}
.categorymobile-gradient::after {
    content: "";
    position:absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: 60%;

    background: linear-gradient(
        to top,
        var(--beige) 0%,
        rgba(221, 214, 200, 0) 100%
    )
}
/* faq section */
.faq {
    grid-template-areas: "text image";
}
.faqmobile-img {
    grid-area: image;
     width: 234px;
    height: 137px;
    object-fit: cover;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 3px;
}
.faqmobile-gradient {
    grid-area: image;
    position: relative;
    width: 234px;
    height: 137px;
    overflow: hidden;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 3px;
}
.faqmobile-gradient::after {
    content: "";
    position:absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: 60%;

    background: linear-gradient(
        to top,
        var(--beige) 0%,
        rgba(221, 214, 200, 0) 100%
    )
}
.info-text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.line {
    width: 100%;
    height: 1px;
}
/* button outlines */
.outline-btn{
    position: relative;
    width: 122px;
    height: 28px;
    border: 1px solid var(--darkgreen);
    border-radius: 100px;

    display:flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
}
/* button arrow */
.outline-btn span{
    position: absolute;
    right: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.outline-btn span img {
    width: 12px;
    height: 12px;
    object-fit: contain;
}



/* RESULTS PAGE */
/* results heading */
.results-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.results-text {
    display: flex;
    flex-direction: column;
}
/* filter bar */
.filter-bar {
    height: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 8px;
    overflow: hidden;
}
.filter-bar button {
    background: transparent;
    border: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* seperator line in the middle of the bar */
.filter-bar button:first-child {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.filter-bar img {
    width: 9px;
    height: 5px;
    object-fit: contain;
}
/* resuable product grid */
.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* reusable product card */
.product-card {
    min-width: 0;
}
.product-img-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}
/* target only product img not quick add */
.product-img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* quick add */
.quick-add {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 28px;
    height: 28px;
    border: none;
    background: transparent;
}
.quick-add img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 1px 4px #36402A);
}



/* PRODUCT DETAIL PAGE */
/* product title */
.product-title-card {
    border-radius: 12px;
}
/* product images */
.product-main-img {
    width: 100%;
    height: 370px;
    object-fit:cover;

    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
/* thumbnails */
.thumbnail-row {
    display: flex;
    justify-content: center;
}
.thumbnail-row img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
/* dropdowns */
.product-dropdown {
    display: flex;
    flex-direction: column;
}
.dropdown-btn {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}
.dropdown-btn img {
    width: 9px;
    height: 5px;
    object-fit: contain;
}
/* add to cart button */
.addtocart-btn {
    width: 100%;
    height: 43px;

    border: none;
    border-radius: 100px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    cursor: pointer;
}



/* CART PAGE */
/* cart product */
.cart-card {
    display: grid;
    grid-template-columns: 125px 1fr 26px;
    align-items: start;
}
.cart-img-container {
    position: relative;
    height: 125px;
    width: 125px;
    border-radius: 12px;
    overflow: visible;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}
/* target only product img not quick add */
.cart-img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
/* quantity button */
.quantity-control {
    position: absolute;
    left: 50%;
    bottom: -16px;
    transform: translateX(-50%);

    width: 100px;
    height: 28px;
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);

    display:flex;
    justify-content: space-between;
    align-items: center;
}
.quantity-control button {
    border: none;
}
/* remove product button */
.removebtn {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
}
.removebtn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 1px 4px #36402A);
}
/* checkout button */
.checkout-btn {
    width: 100%;
    height: 43px;

    border: none;
    border-radius: 100px;
    background: var(--lightgreen);
    font-family: var(--font-mono);
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    color: #F2EEE6;
    cursor: pointer;
}




/* PURCHASE PAGE */
/* apple pay */
.applepay-btn {
    width: 100%;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 100px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);

    cursor: pointer;
}
.applepay-btn img {
    width: 50px;
    height: auto;
    object-fit: contain;
}
/* divider */
.checkout-divider {
    display: flex;
    align-items: center;
}
.divider-line {
    flex: 1;
    height: 1px;
}
/* credit card form */
.payment-section {
    display: flex;
    flex-direction: column;
}
.input-group {
    display: flex;
    flex-direction: column;
}
.input-group input, .input-group textarea {
    width: 100%;
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.input-group input {
    height: 30px;
}
.input-group textarea {
    height: 90px;
    resize: none;
}
.double-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* confirm button */
.confirm-btn {
    width: 100%;
    height: 43px;

    border: none;
    border-radius: 100px;
    font-weight: 500;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    cursor: pointer;
}



/* CONFIRMATION PAGE */
.confirmation-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* shopping bag icon */
.confirmation-icon {
    width: 82px;
    height: 82px;
}
.confirmation-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* confirmation text */
.confirmation-text {
    text-align: center;
}
/* continue button */
.continue-btn {
    width: 100%;
    height: 43px;
    border-radius: 100px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);

    display: flex;
    justify-content: center;
    align-items: center;
}



/* SEARCH POPUP */
.search-page {
    position: relative;
    min-height: 100vh;

    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}
/* dark overlay */
.search-page::before {
    content:"";

    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.08);  
    z-index: 1;
}
/* search content */
.search-main {
    position: relative;
    z-index: 2;
}
/* search bar */
.search-bar {
    width: 100%;
    height: 40px;
    border-radius: 100px;

    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.search-bar img {
    width: 12px;
    height: 16px;
    object-fit: contain;
}

