@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url("colours.css");
@import url("typography.css");
@import url("spacing.css");
@import url("layout.css");

/* reset spacings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* base */
html, body {
    overflow-x: hidden;
}
body {
    background: var(--beige);
    color: var(--darkgreen);
    font-family: var(--font-sans);
}
body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: url("../images/overlay.jpg") center/cover no-repeat;
    opacity: 0.3;
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 9999;
}
.page {
    max-width: 390px;
    width: 100%;
    min-height: 844px;
    margin: 0 auto;
    overflow-x: visible;
    background: var(--beige);
    padding-top: 45px;
}

/* dropdown */
.dropdown-arrow {
    transition: transform 0.3s ease;
}

/* product card hover */
.product-card {
    transition: transform 0.25s ease, opacity 0.25s ease;
}
.product-card:hover {
    transform: translateY(-6px);
}





/* DESKTOP VER */
@media (min-width: 900px) {
    .page {
        max-width: 1440px;
        width: 100%;
        padding-top: 60px;
    }
    h1 {
        font-size: 33px;
    }
    h2 {
        font-size: 20px;
    }
    .price {
    font-size: 18px;
    }

    /* TOP NAV */
    .header {
        height: 70px;
        max-width: 1440px;
        padding: 0 35px;
        align-items: center;
    }
    .logo {
        display: flex;
        align-items: center;
    }
    .logo img {
        content: url("../images/twh-desktop.png");
        width: 150px;
        height: auto;
        object-fit: contain;
    }
    .nav-icons {
        gap: 40px;
    }
    .nav-icons button {
        width: 32px;
        height: 32px;
    }
    .nav-icons img {
        width: 24px;
        height: 24px;
    }
    #cart-count {
        width: 18px;
        height: 18px;
        font-size: 10px;
        top: -4px;
        right: -8px;
    }


    /* HOME PAGE */
    .hero {
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
        position: relative;
    }
    .hero-text {
        position: absolute;
        top: 50%;
        right: 90px;
        transform: translateY(-50%);

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        z-index: 2;
    }
    .hero-container {
        height: 470px;
        width: 100%;
        border-radius: 100;
    }
    .hero-btn {
        position: absolute;
        top: 240px;
        right: 100px;
        left: auto;
        transform: none;
        z-index: 2;

        width: 480px;
        height: 75px;
        font-size: 28px;
        font-weight: 500;
    }
    .hero-img {
        content: url("../images/laptopheader.jpg");
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .tagline-section {
        position: absolute;
        top: 200px;
        right: 100px;
        z-index: 2;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .tagline-section h2 {
        font-size: 32px;
        font-weight: 500;
        max-width: 480px;
    }
    /* bottom faq & category section */
    .info-section-desktop {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 70px;
        padding: 40px 96px;
    }
    .info-section-desktop .info-section {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .info-section-desktop .info-text {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .info-section-desktop .categorymobile-gradient,
    .info-section-desktop .faqmobile-gradient {
        width: 100%;
        height: 300px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        overflow: hidden;
    }
    .info-section-desktop .categorymobile-img,
    .info-section-desktop .faqmobile-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .info-section-desktop .outline-btn {
        width: 100%;
        height: 70px;
        border-radius: 100px;
        margin-top: auto;
    }
    .info-section-desktop .outline-btn span {
        right: 12px;
        width: 40px;
        height: 40px;
    }
    .info-text p {
        font-size: 18px;
        font-family: var(--font-sans);
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .outline-btn {
        font-size: 22px;
        border: 2px solid var(--darkgreen);
    }
    .outline-btn span img {
        width: 40px;
        height: 40px;
    }
    .line {
        display: none;
    }


    /* SEARCH OVERLAY */
    .search-main {
        width: 100%;
        max-width: 1200px;
        padding: 130px 35px;
    }
    .search-bar {
        width: 100%;
        height: 80px;
        padding: 0 30px;
        gap: 30px;
    }
    .search-bar img {
        width: 24px;
        height: 30px;
    }
    .search-bar input {
        font-size: 22px;
    }


    /* RESULTS PAGE */
    .results-main {
        padding: 0 40px 64px;
    }
    .filter-bar {
        height: 30px;
        width: 100%;
    }
    .filter-bar button img {
        width: 25px;
        height: 8px;
        object-fit: contain;

    }
    .filter-bar button {
        font-size: 12px;
        padding: 0 15px;
    }
    .filter-bar button span {
        font-size: 20px;
    }
    .items-count {
        font-size: 15px;
    }
    .show-all {
        font-size: 15px;
    }
    /* product grid */
    .product-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 36px;
    }
    .quick-add {
        top: 10px;
        right:10px;
        width: 30px;
        height: 30px;
    }


    /* PRODUCT DETAIL */
    .product-main {
        display: grid;
        grid-template-columns: 700px 1fr;
        column-gap: 32px;
        padding: 10px 40px;
    }
    .back-link {
        grid-column: 1/-1;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .product-gallery {
        grid-column: 1;
        grid-row: 2/6;
        width: 700px;
    }

    .product-title-card, .product-dropdown, #addtocart-btn {
        grid-column: 2;
    }
    .product-title-card {
        padding: 25px;
        margin-bottom: 40px;
        border-radius: 12px;
    }
    .product-title-card h1 {
        font-size: 35px;
    }
    .product-title-card p {
        font-size: 30px;
    }
    /* images */
    #main-product-img.product-main-img {
        width: 700px;
        height: 700px;
        object-fit: cover;
    }
    .thumbnail-row img {
        width: 100px;
        height: 100px;
        gap: 12px;
        margin:10px 0 30px;
    }
    /* dropdown info */
    .product-dropdown {
        gap: 13px;
    }
    .dropdown-btn {
        height: 50px;
        padding: 0 25px;
        font-size: 20px;
    }
    .dropdown-btn img {
        width: 16px;
        height: 10px;
    }
    #product-description {
        font-size: 15px;
        padding: 0 10px;
    }
    #reviews {
        font-size: 15px;
        padding: 0 10px;
    }
    /* add to cart btn */
    #addtocart-btn {
        height: 70px;
        font-size: 24px;
        margin-top: 40px;
    }
    /* rec section */
    .rec-heading {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .rec-section {
        grid-column: 1/-1;
    }
    .rec-section .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }


    /* CART PAGE */
    .cart-title {
        margin-bottom: 15px;
    }
    /* shipping progress bar */
    .shipping-progress-mobile {
        display: none;
    }
    .shipping-progress-desktop {
        display: block;
    }
    .cart-summary .shipping-progress {
        margin: 20px 0 15px;
    }
    .cart-summary .shipping-message {
        color: var(--white)
    }
    .cart-summary .progress-track {
        background: var(--lightgreen);
    }
    .cart-summary .progress-fill {
        background: var(--white);
    }
    .shipping-message {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 3px;
    }
    .cart-main { 
        display: grid;
        grid-template-columns: 1fr 650px;
        column-gap: 60px;
        padding: 10px 40px 64px;
        align-items: start;
    }
    .cart-main .back-link, .cart-title {
        grid-column: 1/-1;
    }
    .cart-list {
        grid-column: 1;
        margin-top: 0;
        margin-bottom: 40px;
    }
    /* right column */
    .cart-summary {
        grid-column: 2;
        grid-row: 3;
        padding: 28px;
        border-radius: 12px;
        background: var(--darkgreen);
    }
    .cart-total {
        margin: 0 0 24px;
        font-size: 30px;
        color: var(--white);
    }
    .checkout-btn {
        height: 70px;
        margin: 0;
        font-size: 24px;
    }
    /* left column */
    .cart-card {
        grid-template-columns: 200px 1fr 50px;
        gap: 24px;
        margin-bottom: 60px;
    }
    .cart-img-container {
        width: 200px;
        height: 200px;
    }
    .cart-text h2 {
        font-size: 25px;
    }
    .cart-text .price {
        font-size: 22px;
    }
    .quantity-control {
        width: 160px;
        height: 40px;
        font-size: 18px;
    }
    .quantity-control button {
        font-size: 20px;
    }
    .removebtn {
        width: 40px;
        height: 40px;
    }


    /* PURCHASE PAGE */
    .purchase-title {
        margin-bottom: 15px;
    }
    .purchase-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 24px;
        padding: 10px 40px;
        align-items: start;
    }
    .purchase-main .back-link, .purchase-title {
        grid-column: 1/-1;
    }
    .express-section, .payment-section {
        background: var(--darkgreen);
        color: var(--white);
        border-radius: 12px;
        padding: 24px;
    }
    .express-section {
        grid-column: 1;
        margin-bottom: 0;
    }
    .payment-section {
        grid-column: 2;
        gap: 16px;
        margin-top: 0;
    }
    .checkout-divider {
        display: none;
    }
    .applepay-btn {
        height: 70px;
    }
    .applepay-btn img {
        width: 70px;
    }
    .purchase-heading {
        font-size: 28px;
        margin-bottom: 24px;
        font-weight: 500;
    }
    .input-group input {
        height: 36px;
    }
    .input-group label {
        font-weight: 400;
    }
    .input-group input, .input-group textarea {
        padding: 12px;
    }
    .double-input {
        gap: 18px;
    }
    .confirm-btn {
        height: 70px;
        margin: 16px 0 0;
        font-size: 24px;
    }


    /* CONFIRMATION PAGE */
    .confirmation-main {
        min-height: calc(100vh - 70px);
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .confirmation-icon {
        content: url("../images/cartconfirmation.png");
        width: 140px;
        height: 160px;
        margin-bottom: 10px;
    }

    .confirmation-text h1 {
        font-size: 56px;
        line-height: 1.2;
        max-width: 600px;
    }

    .confirmation-text p {
        font-size: 22px;
    }
    .continue-btn {
        width: 420px;
        height: 70px;
        font-size: 22px;
    }

}

